#about{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 150px;
}

#about .about-iam{
    width: 100%;
    padding: 0 0;
    display: flex;
    flex-wrap: wrap;
}

#about .about-iam .about-iam-presentation{
    padding: 0 16px;
}

#about .about-iam .about-iam-presentation p{
    font-size: 18px;
}


#about .about-iam .about-iam-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .about-iam .about-iam-image img{
    height: 250px;
}

#about .about-iam .about-iam-tools{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
}

#about .about-iam .about-iam-tools .about-group{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#about .about-iam .about-iam-tools .about-group .circle{
    width: 125px;
    border-radius: 100%;
    padding: 20px;
    background-color: #2A2A2A;
    transition: 0.5s;
    cursor: pointer;
}

#about .about-iam .about-iam-tools .about-group .circle img{
    width: 100%;
}

#about .about-iam .about-iam-tools .about-group .name{
    width: 100%;
    padding: 20px 0;
    text-align: center;
    font-size: 17.5px;
}

#about .about-iam .about-iam-tools .about-group .text{
    width: 100%;
    padding: 0 20px;
    height: 70px;
    text-align: center;
}

/*RESPONSIVE*/

@media screen and (min-width: 800px) {
    #about .about-iam .about-iam-presentation{
        width: 50%;
    }
    
    #about .about-iam .about-iam-image{
        width: 50%;
    }

    #about .about-iam .about-iam-tools .about-group{
        width: 25%;
    }
}

@media screen and (min-width: 400px) and (max-width: 800px) {
    #about .about-iam .about-iam-presentation{
        width: 100%;
    }
    
    #about .about-iam .about-iam-image{
        width: 100%;
        order: 1;
    }
    #about .about-header .about-header-title-div .about-header-title{
        right: 0;
        left: 0;
        margin: auto;
    }

    #about .about-iam .about-iam-tools .about-group{
        width: 50%;
    }
}

@media screen and (max-width: 400px) {
    #about .about-iam .about-iam-presentation{
        width: 100%;
    }
    
    #about .about-iam .about-iam-image{
        width: 100%;
        order: 1;
    }

    #about .about-iam .about-iam-tools .about-group{
        width: 100%;
    }
}

@media screen and (max-width: 300px) {
    #about .about-iam .about-iam-image img{
        width: 90%;
    }
}

/*ANIMIATION*/

#about .about-iam .about-iam-tools .about-group .circle:hover{
    transition: 0.5s;
    transform: translate(0,-10px);
}