.logo {
    height: 100%;
    padding: 10px 20px;
    display: flex;
    width: auto;
}
.logo .imagen {
    width: auto;
    height: 100%;
}
.logo div a {
    text-decoration: none;
    color: black;
}
.logo div a img {
    height: 100%;
}
.logo div a span {
    font-size: 15px;
    letter-spacing: 10px;
    margin-left: 20px;
}
.navegacion .registrarse {
    color: white;
    background-color: black;
    padding: 10px;
    text-align: center;
}
#bloque {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
    left: -100%;
    transition: 1s;
}
.close {
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

/*ANIMACIONES*/

.navegacion a:hover {
    color: #7b7b7b;
}
.navegacion .close:hover {
    background-color: #dc0000;
    transition: 0.5s;
}

/*MEDIA QUERIS*/

@media screen and (min-width: 560px) {
    .logo .nombre {
        width: auto;
        height: 100%;
        display: flex;
        align-items: center;
    }
}

@media screen and (min-width: 975px) {
    .navegacion {
        width: auto;
        height: 100%;
        padding: 10px 20px;
        display: flex;
        align-items: center;
    }
    .navegacion button {
        display: none;
    }
    .navegacion a {
        text-decoration: none;
        color: black;
        font-size: 15px;
    }
    .navegacion .link {
        margin-right: 30px;
    }
    .navegacion .iniciarSesion {
        margin-right: 10px;
    }
}

@media screen and (max-width: 975px) {
    .navegacion {
        position: absolute;
        width: 160px;
        display: flex;
        flex-direction: column;
        right: -200px;
        padding: 10px 20px;
        height: 100000px;
        transition: 1s;
        background-color: #EDEDED;
    }
    .navegacion a {
        color: black;
        margin: 10px 0px;
        text-decoration: none;
        font-size: 15px;
    }
    .navegacion .open {
        position: absolute;
        left: -90px;
        top: 22.5px;
        font-size: 20px;
        height: 30px;
        width: 30px;
        background: none;
        border: none;
    }
    .navegacion .close {
        position: absolute;
        width: 40px;
        padding: 5px 10px;
        font-size: 20px;
        left: calc(0% - 40px);
        top: 0%;
        border: none;
        transition: 1s;
        background: none;
    }
}

@media screen and (min-width: 975px) and (max-width: 1230px) {    
    .navegacion a span{
        display: none;
    }
}

@media screen and (max-width: 560px) {   
    .logo .nombre {
        display: none;
    }
}
