#home{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    background-color: #1D1D1D;
    /*background-image: url(../img/fondo2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;*/
}

#home .image{
    /*width: auto;*/
    justify-content: center;
    display: flex;
}

#home .presentation{
    color: white;
    display: flex;

}

#home .presentation div{
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

#home .presentation div div{
    width: 100%;
    display: flex;
    justify-content: center;
}

#home .presentation div div div{
    width: auto;
}

@media screen and (max-width: 350px) {
    #span1{
        font-size: 20px;
    }
    #span2{
        font-size: 20px;
    }
    #span3{
        font-size: 20px;
    }
}

@media screen and (min-width: 600px) {
    #home .image img{
        width: 560px;
    }
}

@media screen and (min-width: 350px) and (max-width: 600px) {
    #span1{
        font-size: 30px;
    }
    #span2{
        font-size: 30px;
    }
    #span3{
        font-size: 30px;
    }
}

@media screen and (max-width: 600px) {
    #home .image img{
        width: 100%;
    }
}

@media screen and (max-width: 1280px) {
    #home .image{
        width: 100%;
    }
    #home .presentation{
        width: 100%;
    }
}

@media screen and (min-width: 600px) {
    #span1{
        font-size: 40px;
    }
    #span2{
        font-size: 40px;
    }
    #span3{
        font-size: 40px;
    }
}

@media screen and (min-width: 1280px) {
    #home{
        justify-content: center;
    }
    #home .image{
        width: 830px;
        
    }
    #home .image img{
        width: 650px;
        
    }
    #home .presentation{
        width: 410px;
        display: flex;
        align-items: center;
    }

}


#span1 {
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 17ch;
    animation: typing 2s steps(17), blink .5s infinite step-end alternate;
    overflow:hidden;
}

#span2 {
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 19ch;
    animation: typing 2s steps(19), blink .5s infinite step-end alternate;
    overflow:hidden;
}

#span3 {
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 9ch;
    animation: typing 2s steps(9), blink .5s infinite step-end alternate;
    overflow:hidden;
}

@keyframes typing {

    from { width: 0}
}

@keyframes blink {
 50% { border-color: transparent}
}
