/*DISEÑO DE LA PORTADA DE INICIO*/

.portada {
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    width: 100%;
    height: calc(100% - 75px);
    color: white;
    display: flex;
    justify-content: center;
}
.portada-responsive {
    display: flex;
    flex-wrap: wrap;
}
.portada-responsive div {
    padding: 10px;
}
.titulo {
    display: flex;
}
.subtitulo .botones button {
    padding: 15px;
    border: 2px solid #353535;
    background: none;
    font-size: 15px;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    width: max-content;
}
.subtitulo p {
    font-size: 15px;
}

/*ANIMACIONES*/

.subtitulo .botones button:hover {
    background-color:#353535;
    transition: 0.5s;
}

/*MEDIA QUERIS*/

@media screen and (min-width: 900px) {
    .titulo {
        width: 50%;
        height: 100%;
        align-items: center;
    }
    .titulo h1 {
        font-weight: 1000;
        font-size: 60px;
        letter-spacing: 10px;
        text-align: right;
    }
    .subtitulo {
        width: 50%;
        height: 100%;
    }
    .subtitulo div {
        width: 100%;
        height: 50%;
    }
    .subtitulo .parrafo {
        width: 100%;
        display: flex;
        align-items: end;
    }
    .subtitulo .botones {
        width: 100%;
       
    }
    .subtitulo .botones .com, .ser{
        margin-left: 15px;
    }
}

@media screen and (min-width: 700px) and (max-width: 900px) {
    .titulo {
        width: 100%;
        height: 50%;
        align-items: end;
    }
    .titulo h1 {
        font-weight: 1000;
        font-size: 60px;
        letter-spacing: 10px;
        text-align: center;
    }
    .subtitulo {
        width: 100%;
        height: 50%;
        text-align: center;
    }
    .subtitulo div {
        width: 100%;
        height: 50%;
    }
    .subtitulo .parrafo {
        width: 100%;
        height: auto;
        display: flex;
        align-items: end;
    }
    .subtitulo .botones {
        width: 100%;
        height: auto;
    }
    .subtitulo .botones .com, .ser{
        margin-left: 15px;
    }
}

@media screen and (min-width: 400px) and (max-width: 700px) {
    .titulo {
        width: 100%;
        height: 50%;
        align-items: end;
    }
    .titulo h1 {
        font-weight: 1000;
        font-size: 40px;
        letter-spacing: 10px;
        text-align: center;
    }
    .subtitulo {
        width: 100%;
        height: 50%;
        text-align: center;
    }
    .subtitulo div {
        width: 100%;
        height: 50%;
    }
    .subtitulo .parrafo {
        width: 100%;
        height: auto;
        display: flex;
        align-items: end;
    }
    .subtitulo .botones {
        width: 100%;
        height: auto;
    }
    .subtitulo .botones .com, .ser{
        margin-left: 15px;
    }
}

@media screen and (max-width: 400px) {
    .titulo {
        width: 100%;
        height: auto;
        align-items: end;
    }
    .titulo h1 {
        font-weight: 1000;
        font-size: 30px;
        letter-spacing: 10px;
        text-align: center;
    }
    .subtitulo {
        width: 100%;
        height: auto;
        text-align: center;
    }
    .subtitulo div {
        width: 100%;
        height: 50%;
    }
    .subtitulo .parrafo {
        width: 100%;
        height: auto;
        display: flex;
        align-items: end;
    }
    .subtitulo .botones {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .subtitulo .botones .com, .ser{
        margin-top: 15px;
    }
}


.responsive-body .seccion {
    width: 100%;
    letter-spacing: 5px;
    margin: 30px 0;
    padding: 0px 20px;
    font-weight: normal;
    text-align: center;
}