/*DISEÑO DE LA PORTADA DE INICIO*/

.portada {
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
}

.presentacion {
    width: 260px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.presentacion div {
    width: 100%;
    height: max-content;
    display: flex;
    padding-top: 20px;
    gap: 10px;
}

.presentacion div a {
    font-size: 25px;
    color: white;
}

.presentacion div a:hover {
    color: #7f7f7f;
}

.presentacion button {
    width: 100%;
    padding: 15px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    font-size: 15px;
    transition: 0.5s;
}

.presentacion button:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
}



.responsive-body .seccion {
    width: 100%;
    letter-spacing: 5px;
    margin: 30px 0;
    padding: 0px 20px;
    font-weight: normal;
    text-align: center;
}

/*MEDIA QUERIS*/

@media screen and (min-height: 525px) {
    .portada {
        height: 450px;
    }
}

@media screen and (max-height: 525px) {
    .portada {
        height: calc(100% - 75px);
    }
}