/*-----Estilos Generales-----*/
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

:root {
    --text-color-inverse: white;
    --menu-mobile-background-color: black;
}

#home, #about, #skills, #projects, #contact{
    scroll-margin-top: 63px;
}
  
a {
text-decoration: none;
}

.general{
    width: 100%;
    display: flex;
    justify-content: center;
}

body{
    background-color: #1D1D1D;
}

/*Responsive*/

@media screen and (min-width: 1280px) {
    .container{
        width: 1280px;
    }
}

@media screen and (max-width: 1280px) {
    .container{
        width: 100%;
    }
}