footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #353535;
}



.responsive-footer {
    width: 1300px;
    display: flex;
    flex-wrap: wrap;
}

.responsive-footer .div-footer {
    padding: 20px;
}

.responsive-footer .div-footer h3 {
    color: #EDEDED;
    letter-spacing: 1px;
}

.responsive-footer .div-footer a {
    color: #EDEDED;
    text-decoration: none;
}

.responsive-footer .copy {
    width: 100%;
    text-align: center;
}

#redes div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#redes div a {
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: #EDEDED;
    color: #353535;
    transition: 0.2s;
}

.responsive-footer .copy {
    width: 100%;
    padding: 20px;
    color: #EDEDED;
}

@media screen and (min-width: 1000px) {
    .responsive-footer .div-footer {
        width: 25%;
    }
    
}

@media screen and (min-width: 500px) and (max-width: 1000px) {
    .responsive-footer .div-footer {
        width: 50%;
    }
    
}

@media screen and (max-width: 500px) {
    .responsive-footer .div-footer {
        width: 100%;
    }
    
}

/*ANIMACIONES*/

.responsive-footer .div-footer a:hover {
    color: #aeaeae;
    text-decoration: none;
}

#redes div a:hover {
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: black;
    color: white;
    transition: 0.2s;
}