*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.fondo{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.encabezado{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    width: 100%;
    padding: 10px 10px;
}

.logo{
    text-align: center;
    width: 30%;
    color: white;
}

.navegacion{
    width: 70%;
    text-align: right;
    padding-top: 10px;
    padding-right: 30px;
}

.navegacion a{
    margin-left: 50px;
    color: white;
    text-decoration: none;
}

.foto{
    border-radius: 100%;
    margin-top: 6em;
    margin-bottom: 1em;
}

.presentacion{
    color: white;
    text-align: center;
}

/*acerca de mi*/

.uno{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
}

.baseuno{
    width: 50%;
}

.basedos{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.formacion{
    width: 100%;
}

.iconosformacion{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}

.iconosformacion img{
    width: 100px;
    height: 100px;
}

.instiuno{
    width: 130px;
    text-align: center;
    margin: 0 5%;
}

.instidos{
    width: 130px;
    text-align: center;
    margin: 0 5%;
}


.empresa{
    width: 100%;
}

.iconosempresa{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.iconosempresa img{
    width: 100px;
    height: 100px;
}

.empruno{
    width: 132px;
    text-align: center;
    margin: 0 5%;
}


.cv{
    width:100%;
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}

.descargar{
    width: 450px;
    height: 80px;
    background-color:#E54C21;
    justify-content: center;
    display: table;
    text-align: center;
    border-radius: 15px;
}

.descargar a{
    font-size:35px;
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;
    color: white;
}

/*skills*/

.skills{
    width:100%;
}

.iconskills{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    margin: 30px 0;
}

.iconskills div{
    width: 33.3%;
    text-align: center;
}

.iconskills div i{
    font-size: 80px;
}

/*proyects*/

.proyecto{
    width:100%;
}

.descripcionproyecto{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
}

.descripcionproyecto div{
    width: 33.3%;
}

.descripcionproyecto div a img{
    width: 100%;
    margin: 20px 0;
    border: solid 5px black;
}

/*animacion-img*/
.descripcionproyecto div img{
    transition: 0.5s;
}

.descripcionproyecto div img:hover{
    transform: scale(1.2);
}

/*contact*/

.contacto{
    width: 100%;
}

.iconscontact{
    width: 100%;
    margin: 100px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.iconscontact div{
    width: 33.3%;
    text-align: center;
}

.iconscontact div i{
    font-size: 70px;
}

/*copyright*/

.footer{
    width: 100%;
    padding: 40px 0;
    text-align: center;
}

.footer a{
    text-decoration: none;
    color: black;
}

/*responsive width*/

@media screen and (min-width: 500px){
    .encabezado{
        position: fixed;
    }

    .baseuno{
        padding: 20px 80px;
    }
    
    .basedos{
        padding: 50px 80px;
    }

    /*skills*/

    .skills{
        padding: 80px 80px;
    }

    .iconskills div{
        padding: 45px 120px;
    }

    /*proyects*/

    .proyecto{
        padding: 80px 80px;
    }

    .descripcionproyecto{
        margin-top:50px;
        margin-bottom: 140px;
    }

    .descripcionproyecto div{
        text-align: center;
        padding: 0 40px;
    }

    /*contact*/

    .contacto{
        padding: 80px 80px;
    }
}

@media screen and (max-width: 500px){
    .baseuno{
        width: 50%;
        padding: 20px 40px;
    }

    .baseuno div{
        text-align: center;
    }
    
    .basedos{
        width: 50%;
        padding: 50px 40px;
    }

    .formacion{
        text-align: center;
    }

    .empresa{
        text-align: center;
    }

    .cv{
        padding: 0 10%;
    }

    /*skills*/

    .skills{
        padding: 80px 40px;
        text-align: center;
    }

    .iconskills div{
        padding: 45px 60px;
    }

    /*proyects*/

    .proyecto{
        padding: 80px 40px;
        text-align: center;
    }

    .descripcionproyecto{
        margin-top:50px;
        margin-bottom: 140px;
    }

    .descripcionproyecto div{
        text-align: center;
        padding: 0;
    }

    /*contact*/

    .contacto{
        padding: 80px 0px;
        text-align: center;
    }
}

/*barra*/

@media screen and (min-width: 885px) and (max-width: 1063px){

    .navegacion a{
        margin-left: 25px;
    }
}

@media screen and (min-width: 856px) and (max-width: 885px){
    .navegacion a{
        margin-left: 10px;
    }
}

@media screen and (min-width: 650px) and (max-width: 856px){
    .encabezado{
        padding: 10px 0;
    }
    .logo{
        width: 100%;
        margin-bottom: 20px;
    }

    .navegacion{
        width: 100%;
        text-align: center;
        padding: 0 0;
    }

    .navegacion a{
        margin: 0 20px;
    }
}

@media screen and (min-width: 550px) and (max-width: 650px){
    .encabezado{
        padding: 10px 0;
    }
    .logo{
        width: 100%;
        margin-bottom: 20px;
    }

    .navegacion{
        width: 100%;
        text-align: center;
        padding: 0 0;
    }

    .navegacion a{
        margin: 0 10px;
    }
}

@media screen and (min-width: 501px) and (max-width: 550px){
    .encabezado{
        padding: 10px 0;
    }
    .logo{
        width: 100%;
        margin-bottom: 20px;
    }

    .navegacion{
        width: 100%;
        text-align: center;
        padding: 0 0;
    }

    .navegacion a{
        margin: 0 5px;
    }
}

@media screen and (min-width: 0px) and (max-width: 501px){
    .encabezado{
        padding: 10px 0;
    }
    .logo{
        width: 100%;
        margin-bottom: 20px;
    }

    .navegacion{
        width: 100%;
        padding: 0 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .navegacion a{
        margin: 5px 10px;
    }
}

/*contenido*/
@media screen and (min-width: 970px) and (max-width: 1400px){
    .iconskills div{
        width: 50%;
        padding: 45px 40px;
        
    }

    .descripcionproyecto div{
        width:50%;
    }
}

@media screen and (min-width: 0px) and (max-width: 970px){
    .uno{
        width: 100%;
    }

    .baseuno{
        width: 100%;
    }
    
    .basedos{
        width: 100%;
    }

    .iconskills div{
        width: 100%;
        padding: 45px 0;
    }

    .descripcionproyecto div{
        width:100%;
    }
}

@media screen and (min-width: 600px) and (max-width: 800px){
    .iconscontact div{
        width: 50%;
        margin: 20px 0;
        
    }
}

@media screen and (min-width: 0px) and (max-width: 600px){
    .iconscontact div{
        width: 100%;
        margin: 20px 0;
        
    }
}

/*responsive height*/

@media screen and (min-height: 1000px) and (max-height: 1200px){
    .fondo{
        height: 75em;
        padding-bottom: 200px;
    }

    .presentacion h1{
        font-size: 50px;
    }

    .foto{
        margin-bottom: 50px;
        width: 400px;
        height: 400px;
    }
}

@media screen and (min-height: 800px) and (max-height: 1000px){
    .fondo{
        height: 62.5em;
        padding-bottom: 190px;
    }

    .presentacion h1{
        font-size: 45px;
    }

    .foto{
        margin-bottom: 45px;
        width: 350px;
        height: 350px;
    }
}

@media screen and (min-height: 600px) and (max-height: 800px){
    .fondo{
        height: 50em;
        padding-bottom: 190px;
    }

    .presentacion h1{
        font-size: 30px;
    }

    .foto{
        margin-bottom: 30px;
        width: 300px;
        height: 300px;
    }
}

@media screen and (min-height: 400px) and (max-height: 600px){
    .fondo{
        height: 37.5em;
        padding-bottom: 10px;
    }

    .presentacion h1{
        font-size: 20px;
    }

    .foto{
        margin-bottom: 10px;
        width: 200px;
        height: 200px;
    }
}

@media screen and (min-height: 300px) and (max-height: 400px){
    .fondo{
        height: 25em;
        padding-bottom: 290px;
    }

    .presentacion h1{
        font-size: 10px;
    }

    .foto{
        margin-bottom: 5px;
        width: 100px;
        height: 100px;
    }
}