.buscador {
    border: none;
    height: 45px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.buscador i {
    font-size: 20px;
}

.buscador input {
    height: 100%;
    width: 100%;
    font-size: 15px;
    border: 0;
    text-decoration: none;
    outline: none;
    padding: 0px 10px;
}

.div-filtros {
    display: flex;
}

.div-filtros .div-left, .div-right {
    width: 40px;
}

.div-filtros .div-left {
    padding: 10px 10px 10px 0px;
}

.div-filtros .div-right {
    padding: 10px 0px 10px 10px;
}

.filtros {
    display: flex;
    width: calc(100% - 80px);
    gap: 10px;
    overflow-x: hidden;
    padding: 10px 0px;
}

.div-filtros button {
    padding: 10px;
    letter-spacing: 1px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    background-color: white;
}

@media screen and (min-width: 1120px) {
    .buscador {
        width: 1080px;
    }

    .div-filtros {
        width: 1080px;
    }
}

@media screen and (max-width: 1120px) {
    .buscador {
        width: calc(100% - 40px);
    }
    .div-filtros {
        width: calc(100% - 40px);
    }
}

/*PAGINACION ESTILOS*/

.paginacion {
    width: 260px;
    padding: 10px 0px;
    justify-content: center;
    margin-bottom: 40px;
    display: flex;
    gap: 5px;
}

.paginacion a {
    padding: 10px;
    font-size: 15px;
    font-weight: bolder;
    color: black;
    background-color: #ffffff;
    text-decoration: none;
    border: none;
    transition: 0.1s;
}

.paginacion a:hover {
    color: white;
    background-color: black;
    transition: 0.1s;
}