#home{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#home .image{
    width: 100%;
}

#home .image img{
    width: 100%;
    height: auto;
}

#home .presentation{
    color: white;
    width: 100%;
    text-align: center;
}