#contact{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
    background-color: #1D1D1D;
}

#contact .title{
    margin: 10px 0px;
    width: 100%;
    background-color: #1D1D1D;
    text-align: center;
    padding: 15px 30px;
    border-radius: 10px;
    color: white;
    box-shadow: 5px 5px 10px rgba(0,0,0,1);
}

#contact .contactdiv{
    width: 100%;
    background-color: #1D1D1D;
    text-align: center;
    height: auto;
    margin: 10px 0px;
    color: white;
    display: flex;
    flex-wrap: wrap;
}
#contact .contactdiv a{
    width: 33.3%;
}
#contact .contactdiv a div{
    width: 100%;
    padding: 30px 0px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contact .contactdiv div i{
    font-size: 30px;
    transition: .5s;
}

/*background instagram*/
#contact .contactdiv .instagram{
    background: radial-gradient(
        circle at 33% 100%,
        #fed373 4%,
        #f15245 30%,
        #d92e7f 62%,
        #9b36b7 85%,
        #515ecf
    );
}

#contact .map{
    width: 100%;
}

#contact .contactdiv a:hover i{
    font-size: 50px;
}