#contact{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
    background-color: #d41b56;
}

#contact .title{
    margin: 10px 0px;
    width: 100%;
    background-color: #da4d79;
    text-align: center;
    padding: 15px 30px;
    border-radius: 10px;
    color: white;
}

#contact .text{
    width: 100%;
    background-color: #da4d79;
    padding: 30px;
    text-align: center;
    height: auto;
    margin: 10px 0px;
    border-radius: 10px;
    color: white;
}

#contact .text i{
    font-size: 30px;
    margin: 0px 5px;
    color: white;
}