#about{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
    background-color: #1D1D1D;
}

#about .title{
    margin: 10px 0px;
    background-color: #1D1D1D;
    text-align: center;
    padding: 15px 30px;
    color: white;
    box-shadow: 5px 5px 10px rgba(0,0,0,1);
}

#about a{
    position: relative;
    cursor: pointer;
}

#about a .text{
    background-color: #2A2A2A;
    padding: 30px;
    text-align: center;
    height: auto;
    color: white;
    box-shadow: 5px 5px 10px rgba(0,0,0,1);
}

#about a .text i{
    font-size: 30px;
    margin: 0px 5px;
    color: white;
}

#about a .text-div{
    background-color: #1D1D1D;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    top: 0;
}

#about a .text-div h2{
    color: #ffffff;
}

/*Animation Hover*/

#about a:hover .text-div{
    opacity: 0;
    transition: .5s;
}


/*RESPONSIVE*/

@media screen and (max-width: 700px) {  
    #about .column-about1{
        width: 100%;
    }
    #about .column-about2{
        width: 100%;
    }
    #about .column-about2 div{
        width: 100%;
        margin-bottom: 10px;
    }
    #about .column-about1 .title{
        width: 100%;
    }
    
    #about .column-about2 a{
        width: 100%;
    }
    
    #about .column-about2 div a .text{
        width: 100%;
    }
    
    #about .column-about2 div a .text-div{
        height: 100%;
        width: 100%;
    }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
    #about .column-about1{
        width: 100%;
    }
    #about .column-about2{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #about .column-about2 div{
        width: 50%;
        margin-bottom: 10px;
    }
    #about{
        flex-direction: column;
        align-items: center;
    }
    #about .column-about1 .title{
        width: 100%;
    }
    
    #about .column-about2 a{
        width: 100%;
    }
    
    #about .column-about2 div a .text{
        width: 100%;
    }
    
    #about .column-about2 div a .text-div{
        width: 100%;
        
    }
}

@media screen and (min-width: 1000px) {
    #about .column-about1{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #about .column-about2{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
    }
    #about .column-about2 div{
        width: 75%;
        margin-bottom: 10px;
    }
    #about{
        display: flex;
        flex-wrap: wrap;
    }
    #about .column-about1 .title{
        width: auto;
        height: auto;
    }
    
    #about .column-about2 a{
        width: 100%;
    }
    
    #about .column-about2 div a .text{
        width: 100%;
    }
    
    #about .column-about2 div a .text-div{
        width: 100%;
        
    }
}