/*-----Estilo del encabezado-----*/

header{
    width: 100%;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 0;
    display: flex;
    justify-content: center;
}
header .headergeneral{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*Dsiseño del logo*/

header .headergeneral .logo{
    width: auto;
    padding: 20px 10px;
    display: flex;
    align-items: center;
}
header .headergeneral .logo .hyperlink{
    text-decoration: none;
}

/*Diseño del navegador*/

/* Menu */
.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  } 
.menu li {
    padding: 0 15px;
}
.menu a {
    color: var(--text-color-inverse);
    text-transform: uppercase;
    position: relative;
}
.menu a::after{
    content: "";
    background-color: rgb(155, 104, 104);
    position: absolute;
    left: 0;
    top: calc(100% + 4px);
    width: 100%;
    height: 4px;
    opacity: 0;
    transition: opacity 0.3s;
}
.menu a.selected::after, .menu a:hover::after{
    opacity: 0.8;
}
.menu a:hover{
    color: gray;
}
.open-menu, .close-menu {
    display: none;
}
.divmenu{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Diseño de los botones*/

.fa-solid{
    color: white;
}

/*-----Responsive-----*/

/*Header responsive*/

@media screen and (min-width: 1280px) {
    header .headergeneral{
        width: 1280px;
    }
}

@media screen and (max-width: 1280px) {
    header .headergeneral{
        width: 100%;  
    }
}

/*Menu responsive*/ 

@media (max-width: 721px) {
    .menu {
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        align-items: center;
        background-color: var(--menu-mobile-background-color);
        height: 100%;
        overflow-y: auto;

        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;
    } 
    .menu li {
        padding: 0;
    } 
    .menu a {
        color: var(--text-color-inverse);
        line-height: 60px;
    }
    .open-menu, .close-menu {
        display: block;
        border: none;
        background: none;
        cursor: pointer;
    }
    .close-menu {
        align-self: flex-end;
        padding: 20px 15px;
    }
    .menu_opened {
        opacity: 1;
        pointer-events: all;
    }
    .open-menu:focus:not(:focus-visible), .close-menu:focus:not(:focus-visible) {
        outline: none;
    }
    .menu a::after{
        content: none;
    }
    .menu a:hover, .menu a.selected{
        color: gray;
    }
}

/*logo responsive mobiles*/

@media screen and (min-width: 305px){
    header .headergeneral .logo{
        font-size: 20px;
    }
    header .headergeneral .divmenu .open-menu i{
        font-size: 25px;
    }
    header .headergeneral .divmenu .menu .close-menu i{
        font-size: 25px;
    }
    .menu a{
        font-size: 15px;
    }
}

@media screen and (max-width: 305px){
    header .headergeneral .logo{
        font-size: 12px;
    }
    header .headergeneral .divmenu .open-menu i{
        font-size: 15px;
    }  
    header .headergeneral .divmenu .menu .close-menu i{
        font-size: 15px;
    }
    .menu a{
        font-size: 10px;
    }  
}